<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/app.css" />
        <title>Bienvenue sur l'api taux de CO2</title>
    </head>
    <body>
		<h1> On vous permet d'obtenir en JSON les taux d'émission de CO2 en fonction de différents pays </h1>
		<ul>
			<li>
				<div>
					<h2>Certains noms de pays ont été changé de façon à uniformiser la langue (anglais) et le format:</h2> 
					<p>
						Bolivia (Plurin. State of) => Bolivia</br>
						China, Hong Kong SAR => China</br>
						Côte D'ivoire => Ivory Coast</br>
						Dem. People's Rep. Korea => North Korea</br>
						Dem. Rep. of the Congo => Congo</br>
						Iran (Islamic Republic of) => Iran</br>
						Republic of Korea => South Korea</br>
						United Rep. of Tanzania => Tanzania</br>
						Venezuela (Boliv. Rep. of) => Venezuela
					</p>
				</div>
			</li>
			<li>
				<div>
					<h2>Pour avoir la valeur d'émission totale la plus récente pour un pays demandé :</h2> 
					<p>
						Taper votre localhost suivi de : '/latest_by_country/' et 'le pays demandé'.</br>
						Exemple :</br>
						 Taper: <a href="http://localhost:5000/latest_by_country/Bulgaria">http://localhost:5000/latest_by_country/Bulgaria</a> </br>
						 et vous optiendrez:</br>
						 {"Country": "Bulgaria", "Year": 2017, "Emissions": 42819.932}
					</p>
				</div>
			</li>
			<li>
				<div>
					<h2>Pour avoir la valeur moyenne des émissions totales pour une année demandée :</h2> 
					<p>
						Taper votre localhost suivi de : '/average_by_year/' et 'l'année désirée'.</br>
						Exemple :</br>
						 Taper: <a href="http://localhost:5000/average_by_year/2017">http://localhost:5000/average_by_year/2017</a> </br>
						 et vous optiendrez:</br>
						  {"Year": "2017", "Total": 219666.446}
					</p>
				</div>
			</li>
			<li>
				<div>
					<h2>Pour avoir les émissions par habitant d'un pays donné :</h2> 
					<p>Taper votre localhost suivi de : '/per_capita/' et 'le nom du pays voulu'. </br>
						Exemple : </br>
						Taper: <a href="http://localhost:5000/per_capita/Morocco">http://localhost:5000/per_capita/Morocco</a> </br>
						et vous optiendrez:</br>
						{"1975": 0.543, "1985": 0.722, "1995": 0.963, "2005": 1.285, "2010": 1.432, "2015": 1.591, "2016": 1.568, "2017": 1.627}
					</p>	
				</div>
			</li>
		</ul>
	</body>
</html>
