
body{
	font-family:Georgia, Comic Sans Ms, sans-serif;
	background-color: azure;
}

ul{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
	list-style: none;
}

li{
	background-color: #fff;
	margin: 30px;
	padding: 15px;
	width: 60%;
	box-shadow: 3px 3px 10px rgb(146, 146, 146);
}

h1{
	margin: auto;
	margin-bottom: 40px;
	text-align: center;
	color:rgb(58, 58, 58);
}
